parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: install-stubs/config/admin-auth.php

		-
			message: '#^Out of 10 possible constant types, only 0 \- 0\.0 %% actually have it\. Add more constant types to get over 75 %%$#'
			identifier: typeCoverage.constantTypeCoverage
			count: 5
			path: src/Activation/Contracts/ActivationBroker.php

		-
			message: '#^Out of 10 possible constant types, only 0 \- 0\.0 %% actually have it\. Add more constant types to get over 75 %%$#'
			identifier: typeCoverage.constantTypeCoverage
			count: 5
			path: src/Activation/Facades/Activation.php

		-
			message: '''
				#^Access to constant on deprecated class Brackets\\AdminAuth\\Activation\\Facades\\Activation\:
				We won't be using this facade in the future\. Use the ActivationBrokerManager class instead\.$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: src/Activation/Providers/ActivationServiceProvider.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AdminAuthServiceProvider.php

		-
			message: '#^Instanceof between Illuminate\\Config\\Repository and Illuminate\\Contracts\\Config\\Repository will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/AdminAuthServiceProvider.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\ActivationController\) and ''redirectTo'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/ActivationController.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\ActivationController\) and ''redirectTo'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Controllers/Auth/ActivationController.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\LoginController\) and ''redirectTo'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\LoginController\) and ''redirectToAfterLogo…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\LoginController\) and ''decayMinutes'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\LoginController\) and ''maxAttempts'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\LoginController\) and ''redirectTo'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Controllers/Auth/LoginController.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\ResetPasswordController\) and ''redirectTo'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/Controllers/Auth/ResetPasswordController.php

		-
			message: '#^Call to function property_exists\(\) with \$this\(Brackets\\AdminAuth\\Http\\Controllers\\Auth\\ResetPasswordController\) and ''redirectTo'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Controllers/Auth/ResetPasswordController.php

		-
			message: '#^Access to property \$language on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 2
			path: src/Http/Middleware/ApplyUserLocale.php

		-
			message: '#^Call to method hasAttribute\(\) on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/Middleware/ApplyUserLocale.php

		-
			message: '#^Call to method can\(\) on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/Middleware/CanAdmin.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Models\\AdminUser\:\:\$appends is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$appends\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/AdminUser.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Models\\AdminUser\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/AdminUser.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Models\\AdminUser\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Models/AdminUser.php

		-
			message: '#^Access to property \$last_login_at on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 1
			path: tests/Feature/AdminUser/Auth/LoginBracketsTest.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Tests\\Models\\TestBracketsUserModel\:\:\$appends is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$appends\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Models/TestBracketsUserModel.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Tests\\Models\\TestBracketsUserModel\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Models/TestBracketsUserModel.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Tests\\Models\\TestBracketsUserModel\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Models/TestBracketsUserModel.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Tests\\Models\\TestStandardUserModel\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Models/TestStandardUserModel.php

		-
			message: '#^PHPDoc type array\<int, string\> of property Brackets\\AdminAuth\\Tests\\Models\\TestStandardUserModel\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Models/TestStandardUserModel.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: tests/TestCase.php

